<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/header :: header"></head>

<body>
Something went wrong.

<table>
    <tr>
        <td>Message</td>
        <td th:text="${error}"/>
    </tr>
    <tr>
        <td>Exception</td>
        <td th:text="${exception}"/>
    </tr>

</table>
</body>
</html>