<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:replace="fragments/header :: header"></head>

<body>
<main role="main" class="container">
    I'm logged in

    <br>
    <table class="table table-striped table-bordered table-sm" id="dtBasic" data-show-export="true"
           data-pagination="true"
           data-side-pagination="server"
           data-click-to-select="true"
           data-toolbar="#toolbar"
           data-show-toggle="true">


        <thead>
        <tr>
            <th>column 1</th>
            <th>column 2</th>
            <th>column 3</th>

        </tr>
        </thead>
        <tbody>
        <div th:each="val : ${javaDatabaseList}">
            <tr>


                <td th:text="${val.getField1}"></td>
                <td th:text="${val.getField2}"></td>
                <td th:text="${val.getField3}"></td>


            </tr>
        </div>
        </tbody>
    </table>
    <script>
        $(document).ready(function () {
            $('#dtBasic').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'copyHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        exportOptions: {
                            columns: ':visible'
                        }
                    },
                    'colvis'
                ]
            } );
        } );




    </script>


</main>
</body>
</body>
</html>